{% extends "web/base.html" %}
{% block title %}Calendario de cursos — {{ sitio.nombre }}{% endblock %}

{% block contenido %}
<section class="seccion-gris" style="border-top:0">
  <div class="contenedor seccion-interior">
    <div class="volanta">AGENDA DE CAPACITACIÓN</div>
    <h1 class="seccion-titulo">Cursos de capacitación</h1>
    {% include "web/_encabezado_cursos.html" %}

    {% include "web/_catalogo.html" with url_base="/cursos/" %}

    {% include "web/_pie_cursos.html" %}
  </div>
</section>
{% endblock %}
